# package
spacy>=3.1.0,<3.4.0
spacy-transformers>=1.1.2,<1.2.0
allennlp>=2.9.2,<2.10.0
allennlp_models>=2.9.0,<2.10.0
transformers>=4.11.3,<4.19.0

# tests
https://huggingface.co/spacy/da_core_news_sm/resolve/main/da_core_news_sm-any-py3-none-any.whl
da-core-news-sm==3.2.0
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
en-core-web-sm==3.2.0

# pipeline
# to install relationextraction (should be fixed)
# git+https://github.com/KennethEnevoldsen/Multi2OIE@patch-1

# style
black==22.6.0

# testing
pytest>=6.2.5
pytest-lazy-fixture>=0.6.3
pytest-cov>=2.8.1
