# pipelines used for tests
https://github.com/explosion/spacy-models/releases/download/da_core_news_sm-3.3.0/da_core_news_sm-3.3.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0.tar.gz
spacy>=3.3.2
