.padded {
  padding: 5px;
}

.flex-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flex-container__element {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.flex-container__element:first-child {
  margin-left: 0;
}

.flex-container__element__sub-element {
  margin: 2px;
}

.node-info {
  position: absolute;
  z-index: 3;
  background: white;
  border: solid 1px gray;
  font-size: small;
  width: 20%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: scroll;
  padding: 5px;
  margin: 2px;
}

.graph-container {
  height: 80vh;
  max-height: 80vh;
  border: 1px inset;
}
